# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/
.env

# Virtual environment
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
